.contacts {
  position: relative;

  width: 320px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    bottom: -125px;
    left: 142px;
    z-index: -4;

    width: 36px;
    height: 35px;

    background-image: url(../img/map-marker.png);
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: -1;

    width: 320px;
    height: 123px;

    background-image: url(../img/triangle-white-footer.png);
    background-repeat: no-repeat;
  }
}

.contacts__wrapper {
  padding: 45px 20px;

  text-align: center;

  background-color: $white;
}

.contacts__description {
  margin: 0;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-weight: 100;
  font-size: 2.4rem;

  &:first-of-type {
    margin-bottom: 3px;
  }

  &:last-of-type {
    margin-bottom: 38px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__item {
  display: flex;
  flex-direction: column;

  font-family: "OpenSansBold", Arial, sans-serif;

  span {
    margin-bottom: 5px;
  }
}

.contacts__link,
.contacts__address {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 100;
  color: #d22856;
  text-decoration: none;
}

.contacts__link--phone {
  letter-spacing: 0.7px;
}

.contacts__address {
  font-style: normal;
  line-height: 1.2;
}

.contacts__item--phone {
  margin-bottom: 25px;
}

.contacts__item--mail {
  margin-bottom: 30px;
}

.contacts__map {
  position: absolute;
  top: -32px;
  left: 0;
  z-index: -5;

  display: block;
  width: 320px;
  height: 645px;
}

.contacts__map--ambded {
  position: absolute;
  left: 0;
  z-index: -2;

  width: 320px;
  height: 200px;
}

/*@media (min-width: 660px) {
  .contacts {
    width: 660px;
    margin: 0 auto;
  }

  .contacts__wrapper {
    padding: 48px 0 0;
  }

  .contacts__description {
    font-size: 4rem;
  }

  .contacts__description:last-of-type {
    margin-bottom: 51px;
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 330px;

    &:not(:last-child) {
      margin-bottom: 53px;
    }

    &:last-child {
      margin: 0 auto;
    }
  }

  .contacts__address {
    display: block;
    width: 250px;
    margin: 0 auto;
  }

  .contacts__map {
    top: 58px;
  }

  .contacts__map--ambded {
    width: 660px;
    height: 533px;
  }

  .contacts::before {
    bottom: -261px;
    left: 312px;
  }

  .contacts::after {
    bottom: -100px;

    width: 660px;
    height: 123px;

    background-image: url(../img/triangle-white-tablet.png);
  }
}*/