.info {
  margin-bottom: -85px;

  background: linear-gradient(-185.8deg, #ffffff 22.3%, #f2f2f2 0%);
}

.info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 41px 28px;
}

.info__pic-phone--desktop {
  display: none;
}

.info__description {
  margin: 0;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 2.4rem;
  color: $darkBlue;
  text-align: center;
  line-height: 1.2;

  &:first-of-type {
    margin-bottom: 32px;
  }

  &:last-of-type {
    margin-bottom: 116px;
  }
}

.info-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-list__item {
  text-align: center;
}

.info-list__title {
  margin: 0;
  margin-bottom: 14px;

  font-size: 1.8rem;
  letter-spacing: 0.8px;
}

.info-list__description {
  margin: 0;
  margin-bottom: 33px;

  font-size: 1.4rem;
  letter-spacing: 0.1px;
  line-height: 1.75;
}

.info-list__item:last-of-type .info-list__description {
  margin-bottom: 43px;
}

/*@media (min-width: 660px) {
  .info {
    background: linear-gradient(-184.4deg, #ffffff 34.8%, #f2f2f2 0%);
  }

  .info__wrapper {
    position: relative;

    align-items: center;
    width: 660px;
    padding: 49px 19px 85px;
  }

  .info__description {
    font-size: 4rem;

    &:first-of-type {
      margin-bottom: 0;
    }

    &:last-of-type {
      width: 350px;
      margin-bottom: 124px;
    }
  }

  .info__list {
    margin-left: 311px;
  }

  .info-list__item {
    text-align: left;
  }

  .info-list__description {
    margin-bottom: 37px;
  }

  .info__pic-phone {
    position: absolute;
    top: 244px;
    left: 20px;
    
    width: 268px;
    height: 547px;
  }
}*/