.intro {
  background-image: url(../img/backgound-mobile.jpg);
  background-repeat: no-repeat;
  background-position: 50% -67px;
  background-color: $darkenblue;
}

.intro__title {
  margin: 0 auto;
  padding: 0;
  width: 270px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: $white;
  text-align: center;
}

.intro-index {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 23px;

  .intro__title {
    margin-bottom: 30px;
  }
}

.intro-photo {
  padding-top: 30px;
  padding-bottom: 84px;
}

.intro__pic-wrapper {
  position: relative;

  width: 320px;
  min-height: 286px;
  margin: 0 auto;
}

.intro__pic-hand {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.intro__pic-photo {
  position: absolute;
  top: 33px;
  left: 104px;

  filter: brightness(0.9) contrast(0.9);
}

.intro__wrapper {
  position: relative;
  z-index: 2;

  padding: 28px 20px 32px;

  text-align: center;

  background-color: $darkenblue;
}

.button {
  display: block;
  width: 28rem;
  padding: 1.5rem;

  font-family: "OpenSansBold", Arial, sans-serif;
  font-size: 1.8rem;
  color: $white;
  text-decoration: none;

  border: 3px solid $white;
  border-radius: 3rem;
}

.intro__button {
  margin: 0 auto 32px;
}

.intro__apps {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 auto 22px;
  padding: 0 20px;
  width: 280px;

  list-style: none;
}

.intro__apps-link {
  display: block;

  font-size: 0;
}

.intro__apps-link--apple {
  width: 47px;
  height: 56px;

  background-image: url(../img/apple-logo.png);
  background-repeat: no-repeat;
}

.intro__apps-link--android {
  width: 43px;
  height: 47px;

  background-image: url(../img/android-logo.png);
  background-repeat: no-repeat;
}

.intro__apps-link--microsoft {
  width: 44px;
  height: 41px;

  background-image: url(../img/microsoft-logo.png);
  background-repeat: no-repeat;
}

.intro__description {
  margin: 0 auto;
  width: 280px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 1.4rem;
  color: $white;
  line-height: 1.7;
}