.page-footer--index-mobile {
  display: none;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 40px 0 42px;
}

.page-footer__logo {
  margin-bottom: 37px;
}

.page-footer__social {
  display: flex;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.social__item:nth-child(2) {
  margin: 0 13px;
}

.social__link {
  position: relative;

  display: block;
  width: 51px;
  height: 51px;

  background-repeat: no-repeat;
  background-position: 50%;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.social__twitter {
  background-image: url(../img/twitter.png);
}

.social__fb {
  background-image: url(../img/facebook.png);
}

.social__youtube {
  background-image: url(../img/youtube.png);
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: $darkBlue;
}

.page-footer__copyright-text {
  margin: 0;
  margin-right: 13px;
}

.page-footer__copyright-link {
  display: block;
  width: 27px;
  height: 34px;

  font-size: 0;

  background-image: url(../img/logo-htmlacademy-mobile.png);
  background-repeat: no-repeat;
}

/*@media (min-width: 660px) {
  .page-footer--index-mobile {
    position: relative;
    bottom: -406px;
    
    display: block;

    background-color: $white;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 660px;
    margin: 0 auto;
    padding: 0 19px 39px;
  }

  .page-footer__logo,
  .page-footer__social {
    margin: 0;
  }

  .page-footer__logo {
    padding-top: 29px;
  }

  .page-footer__social {
    padding-top: 37px;
  }

  .page-footer__copyright {
    padding-top: 43px;
  }
}*/