.price {
  padding-top: 454px;
  padding-bottom: 46px;

  background: linear-gradient(-184.5deg, #ffffff 17.3%, #f2f2f2 0%);
  
  overflow: hidden;
}

.price__wrapper {
  position: relative;

  width: 320px;
  margin: 0 auto;
}

.price__table {
  position: absolute;
  top: -321px;
  left: -258px;

  width: 836px;

  border-spacing: 0;
}

.price-table--hidden,
.price-table__data--mobile-hidden {
  display: none;
}

.price-table__data {
  background-color: $white;
  border: 1px solid #e5e5e5;
}

th {
  background-color: $darkBlue;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.price-table__title {
  padding: 21px 0;
  font-family: "OpenSansBold", Arial, sans-serif;
  font-size: 1.8rem;
  color: $white;
  text-transform: uppercase;
  
  span {
    display: block;
  }

  span:first-child {
    margin-bottom: 10px;
  }
}

.price-table__title--hit {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;

    width: 74px;
    height: 73px;

    background-image: url(../img/price-hit.png);
    background-repeat: no-repeat;
  }
}

  

.price-table__price {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-weight: 100;
  font-size: 2.4rem;
}

.price-table__data {
  position: relative;

  padding: 20px 0;
  padding-left: 22px;

  span {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &::after{
    content: "";
    position: absolute;
    right: 19px;
  }
}

.price-table__data--yes::after {
  top: 22px;

  width: 31px;
  height: 21px;

  background-image: url(../img/price-yes.png);
  background-repeat: no-repeat;
}

.price-table__data--no::after {
  top: 16px;

  width: 27px;
  height: 26px;

  background-image: url(../img/price-no.png);
  background-repeat: no-repeat;
}

.price-table__row:first-child .price-table__data {
  border-top: none;
}

.price__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.price__pagination-item {
  width: 6px;
  height: 6px;

  background-color: #bec2c7;
  border-radius: 50%;

  cursor: pointer;

  &:nth-child(2) {
    margin: 0 17px;
  }
}

.price__pagination-item--active {
  width: 12px;
  height: 12px;

  background-color: #ffffff;
  border: 3px solid #000000;

}