.upload__panel {
  background-color: #f2f2f2;
}

.upload__wrapper-title {
  width: 320px;
  padding: 43px 10px 42px;
  margin: 0 auto;

  text-align: center;
}

.upload__description {
  margin: 0;

  font-size: 1.4rem;
  line-height: 2.2;
}

.upload__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
}

.upload__pic {
  display: block;
}

.upload__range {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 41px 20px 65px;
}

.upload__range-crop {
  display: block;
  width: 44px;
  height: 44px;

  background-image: url(../img/crop-active.png);
  background-repeat: no-repeat;

  cursor: pointer;
}

.upload__range-fill {
  display: block;
  width: 48px;
  height: 43px;

  background-image: url(../img/fill.png);
  background-repeat: no-repeat;
  
  cursor: pointer;
}

.upload__range-contrast {
  display: block;
  width: 32px;
  height: 32px;

  background-image: url(../img/contrast.png);
  background-repeat: no-repeat;
  
  cursor: pointer;
}

.upload__range-slider {
  position: relative;

  display: block;
  width: 240px;
  height: 14px;
  margin-top: 35px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;

    width: 240px;
    height: 2px;

    background-color: $black;
  }

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    right: 35px;

    width: 14px;
    height: 14px;

    background-color: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 50%;

    cursor: pointer;
  }
}

.upload__buttons {
  padding-bottom: 20px;
}

.upload__button-post {
  margin-bottom: 12px;

  color:  #d22856;

  border-color: #d22856;

  cursor: pointer;
}

.upload__button-cancel {
  color: #dddfe0;

  border-color: #dddfe0;

  cursor: pointer;
}