@import "variables.scss";
@import "blocks/page-header.scss";
@import "blocks/intro.scss";
@import "blocks/info.scss";
@import "blocks/diagram.scss";
@import "blocks/review.scss";
@import "blocks/price.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-photo.scss";
@import "blocks/upload.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight:normal;
  font-style:normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  margin: auto;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.1;
  color: $black;
}
